body{
    background-color: light-dark(yellow, darkblue);
    color: light-dark(darkblue, yellow);
}

footer{
    background-color: light-dark(yellow, darkblue);
    color: light-dark(darkblue, yellow);
}